<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!--custom event add product in cart-->
    <event name="sales_quote_product_add_after">
        <observer name="custom_sales_quote_product_add_after" instance="Demo\Cart\Observer\CustomAddCartObserver" />
    </event>

    <!--custom event remove product in cart-->
    <event name="sales_quote_remove_item">
        <observer name="custom_sales_quote_remove_item" instance="Demo\Cart\Observer\CustomRemoveItemObserver" />
    </event>

    <event name="checkout_cart_update_items_after">
        <observer name="custom_checkout_cart_update_items_after" instance="Demo\Cart\Observer\CustomUpdateItemObserver" />
    </event>

    <!--custom event edit product in cart with case no change option-->
    <event name="checkout_cart_update_item_complete">
        <observer name="custom_checkout_cart_update_item_complete" instance="Demo\Cart\Observer\CustomUpdateCartObserver" />
    </event>

</config>